<header>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" alt="">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <p>Registro de Asistencia</p>
    <p>p</p>
</header>
<div>
    <div>
      <p id="Subtitulo">Registro de Usuario</p>
      <p id="Subtitulo">Completa los campos para registrarte</p>
    </div>
  
    <div>
      <div id="inputRegistro">
        <input type="text" placeholder="Nombre" name="nombre" id="componentesRegistro">
      </div>
      <div id="inputRegistro">
        <input type="text" placeholder="Apellido" name="apellido" id="componentesRegistro" >
      </div>
      <div id="inputRegistro">
        <input type="date" name="fechaNacimiento" id="componentesRegistro">
      </div>
      <div id="inputRegistro">
        <input type="password" placeholder="Contraseña" name="contrasena" id="componentesRegistro">
      </div>
    </div>
  </div>