section {
    margin-bottom: 2vh;
}

mat-form-field {
    width: 13rem;
}

@media(max-width:410px) {
    th {
        font-size: 14px;
    }
}

@media(max-width:380px) {
    th {
        font-size: 11px;
    }
}

@media(max-width:366px) {
    mat-form-field {
        height: 1.3rem;
    }

    h6 {
        font-size: 11px;
    }
}

/* tablero de horas registradas */
.list-group li:first-child {
    display: flex;
    gap: 2vh;
    background-color: #012C56;
    border: #36243E 1px solid;
}

.scroll-container {
    max-height: 300px;
    overflow-y: auto;
}

.scroll-container thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

/* desktop */
@media (min-width:1024px) {}

/* tablets */
@media (min-width:768px) and (max-width:1023px) {}

/* movil */
@media (max-width:767px) {
    .container-fluid {
        padding: 0;
    }

    .table th,
    .table td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px;
        /* Ajusta según tu necesidad */
    }

    /* Evita desbordamientos dentro de los radios y etiquetas largas */
    .form-check {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
        /* Opcional: evita que el texto salte a otra línea */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Forzar que la etiqueta no se desborde */
    .form-check-label {
        flex: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Opcional: si hay muchas áreas, permite scroll vertical */
    .list-group-scroll {
        max-height: 200px;
        overflow-y: auto;
    }


}