/* header section */
header{
    background-color: #012C56;
}


/* nav section */
mat-toolbar{
    background-color: #012C56;
    
}

mat-toolbar img{
    width: 15%;
}

mat-toolbar button{
    color: #fff;
}


/* side nav section */

.offcanvas-sm{
    width: 60%;

}

.example-spacer{
    flex: 1 1 auto;
}

@media (max-width:768px) {

    mat-toolbar img{
        width: 40%;
    }

}