/* header section */
header{
    background-color: #012C56;
}

nav img{
    width: 10%;    
}

.navbar-toggler:focus {
    border: 1px #fff solid;
}

.navbar-toggler-icon{
    background-image: url('../../../.././assets/iconos/menu.svg');
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-item .nav-link{
    color: white;
}