/* header section */
header{
    background-color: #36243E;
}


/* nav section */
mat-toolbar{
    background-color: #36243E;
}

mat-toolbar img{
    width: 15%;
}

mat-toolbar button{
    color: #fff;
}


/* side nav section */

.offcanvas-sm{
    width: 60%;

}

.example-spacer{
    flex: 1 1 auto;
}