section{
    padding: 4vh;
    gap: 4vh;
}

mat-card{
    padding: 0;
    background-color: #fff;
}

mat-card-content{
    padding: 0;
}

h3{
    text-align: center;
}


th{
    text-align: center;
    background-color: #012C56;
    color: #fff;
}

td{
    
    text-align: center;
}

.scroll-container {
    max-height: 300px;
    overflow-y: auto;
}

.scroll-container thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

@media (max-width:768px) {

    main{
        padding: 2vh;
    }

    section {
        gap: 2vh;
    }

    mat-card-content{
        padding: 0;
    }

    mat-card{
        padding: 1vh;
    }
}