<mat-card class="col" appearance="outlined">
    <mat-card-content>
        <h3>Mis horas registradas</h3>
        @if (cargando) {
        <mat-spinner></mat-spinner>
        }@else {
        @if(!actividades){
        No hay actividades registradas!
        }@else{
        <div class="scroll-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora inicio</th>
                        <th scope="col">Hora termino</th>
                        <th scope="col">Area de trabajo</th>
                    </tr>
                    @for (actividad of actividades; track $index) {
                    <tr>
                        <td scope="row">{{actividad.fecha_actividad}}</td>
                        <td>{{actividad.hora_inic_activdad}}</td>
                        <td>{{actividad.hora_term_actividad}}</td>
                        <td>{{actividad.area_trabajo}}</td>
                    </tr>
                    }
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        }
        }

    </mat-card-content>
</mat-card>