<main class="container-fluid">

    <form class="row" [formGroup]="forgotForm" (ngSubmit)="recuperarClave()">

        <fieldset class="col-lg-6">
            <h1>Recuperar Contrasenna</h1> <!--Cambiar a contrasenna(ESP)-->
            <h3>Ingresa tu correo electronico para recuperar tu contrasenna</h3> <!--Cambiar a contrasenna(ESP)-->
        </fieldset>

        <mat-form-field appearance="outline" class="col-lg-6">
            <mat-label>Correo electronico</mat-label>
            <input matInput placeholder="Ingresa tu correo electronico" formControlName="email" name="email"
                autocomplete="email" />
            <mat-hint>{{showCounter('email')}}/100</mat-hint>
        </mat-form-field>
        <div class="col-lg-6">
            @if (hasError('required')) {
                <div class="text-danger">Email es requerido!</div>
                }
        
                @if (hasError('email')) {
                <div class="text-danger">Formato no valido!</div>
                }
        </div>
        <button class="col-lg-6" mat-flat-button type="submit">Recuperar Contrasenna</button>
        <!--Cambiar a contrasenna(ESP)-->

    </form>

</main>