main{
    padding: 2vh;
}

form{    
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
}

form fieldset h1,
form fieldset h3{
    text-align: center;
}

.linkRegistro{
    text-align: center;
    margin-top: 2vh;
    text-decoration: none;
}