<main class="container-fluid">
    <section class="row">
        <h6 class="col-2"><mat-icon>calendar_month</mat-icon>Filtrar por mes:</h6>
        <mat-form-field class="col-3" appearance="outline">
            <mat-label>Ingresa el mes</mat-label>
            <mat-select>
                @for (meses of mesesHastaAhora; track $index) {
                <mat-option value="{{meses}}">{{meses}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </section>

    <section class="row">
        <mat-card class="col" appearance="outlined">
            <mat-card-header>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" checked="true">Todas</mat-radio-button>
                    <mat-radio-button value="2">Difusion</mat-radio-button>
                    <mat-radio-button value="2">Extension</mat-radio-button>
                    <mat-radio-button value="2">Comunicacion</mat-radio-button>
                    <mat-radio-button value="2">Desarrollo laboral</mat-radio-button>
                </mat-radio-group>
            </mat-card-header>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <span matListItemTitle>09:00 - 12:00</span>
                        <span matListItemLine>01-01-2025</span>
                        <mat-icon matListItemIcon>schedule</mat-icon>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <span matListItemTitle>09:00 - 12:00</span>
                        <span matListItemLine>01-01-2025</span>
                        <mat-icon matListItemIcon>schedule</mat-icon>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </section>


</main>