<div class="buscarElementos">
  <div class="busqueda">
    <div class="iconoBuscar">
      <!-- Icono Search (puedes usar un <svg> o background-image aquí) -->
        
      <input
        type="search"
        placeholder="Buscar reporte..."
        [(ngModel)]="searchQuery"
      />
    </div>
  <!-- Boton de filtro -->
    <button class="filtro">
      <img id="imagenFilro" src="assets/iconos/filter_8usrukh8ozj6.svg" alt="">
      <!--<span class="sr-only">Filtrar</span>-->
    </button>

    <select [(ngModel)]="estadoSeleccionado">
      <option value="todos">Todos los estados</option>
      <option value="pendiente">Pendiente</option>
      <option value="aprobado">Aprobado</option>
      <option value="rechazado">Rechazado</option>
    </select>
  </div>

  <div class="acciones">
    <button class="btn-outline">
      <!-- Icono Exportar -->
      <img id="iconoExportar" src="assets/iconos/export_bwytbr35kggi.svg" alt="">
      Exportar
    </button>
    <button class="btn">
      <!-- Icono Nuevo Reporte-->
      <img id="iconoNuevo" src="assets/iconos/add.svg" alt="">
      Nuevo Reporte
    </button>
  </div>
</div>
