mat-card{
    padding: 40px;
    margin: 0px 12px;
}
mat-card:hover {
    background-color: #f5f5f5; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
    transition: all 0.3s ease; /* Añade una transición suave */
}
#Dashboard {
    padding: 40px;
    margin: 0px 12px;
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;      /*  Centra verticalmente (opcional) */
    gap: 40px;                 /* Espacio entre tarjetas*/
}

#Dashboard mat-card {
  margin: 1px RGB(54, 36, 62);
  width: 450px;              /* Ajusta el ancho según lo que necesites */
  height: 130px;             /* Opcional: altura fija */
  display: flex;
}

#totalAlumnos{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2.5px;
}

.dato-destacado{
    font-size: 30px;
    font-weight: bold;
    
}

#tituloSeccion{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
}

#tituloSeccion h5{
  opacity: 0.5;
}

#tabla{
    margin: 0px 12px;
    padding: 40px;
    margin-bottom: 20px;
}