<app-header></app-header>

<main class="container-fluid">

    @if (!isMobile()) {
    <section class="row">
        <div class="col">
            <h3>Dashboard</h3>
        </div>
        <div class="col-2">
            <button mat-flat-button>
                <mat-icon>description</mat-icon>
                Exportar a Ecxel
            </button>
        </div>
    </section>

    <section class="row">

        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Horas trabajadas</h6>
                    <mat-icon>schedule</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>{{horasTrabajadas}} Hrs</h3>
            </mat-card-content>

        </mat-card>

        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Monto Acumulado</h6>
                    <mat-icon>attach_money</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>{{montoAcumuladoFormateado}} CLP</h3>
                tarifa: 2450 CLP
            </mat-card-content>

        </mat-card>

        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Proximo Pago</h6>
                    <mat-icon>calendar_month</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>{{fechaPago}}</h3>
                en {{diasRestantes}} dias
            </mat-card-content>

        </mat-card>
    </section>

    <section class="row">
        <mat-card class="col" appearance="outlined">
            <mat-card-content>
                <h3>Mis horas registradas</h3>
                @if(actividades.length === 0){
                No hay actividades registradas!
                }@else{
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora inicio</th>
                            <th scope="col">Hora termino</th>
                            <th scope="col">Area de trabajo</th>
                        </tr>
                        @for (actividad of actividades; track $index) {
                        <tr>
                            <th scope="row">{{actividad.fecha_actividad}}</th>
                            <td>{{actividad.hora_inic_activdad}}</td>
                            <td>{{actividad.hora_term_actividad}}</td>
                            <td>{{actividad.area_trabajo}}</td>
                        </tr>
                        }
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                }
            </mat-card-content>
        </mat-card>

    </section>
    <section class="row">
        <mat-card appearance="outlined" class="col hour-registry">

            <mat-card-header>
                <h4>Registro de horas</h4>
                <h6 class="subtitle">Ingresa las horas trabajadas</h6>
            </mat-card-header>

            <form [formGroup]="actividadForm" (ngSubmit)="registrarHora()">
                <mat-form-field>
                    <mat-label>Fecha de actividad</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de inicio</mat-label>
                    <input matInput type="time" formControlName="horaInic">
                    <mat-timepicker #picker />
                    <mat-hint>00:00 AM/PM</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de termino</mat-label>
                    <input matInput type="time" formControlName="horaTerm">
                    <mat-hint>00:00 AM/PM</mat-hint>
                    <mat-timepicker #picker />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Area de trabajo</mat-label>
                    <select matNativeControl formControlName="area">
                        <option value="difusion">Difusion</option>
                        <option value="extension">Extension</option>
                        <option value="comunicacion">Comunicacion</option>
                        <option value="desarrollo_laboral">Desarrollo laboral</option>
                    </select>
                </mat-form-field>

                <fieldset>
                    <button type="submit" mat-flat-button>Registrar Hora</button>
                </fieldset>
            </form>

        </mat-card>

        <mat-card appearance="outlined" class="col hours-per-section">

            <mat-card-header>
                <h4>Distribucion de horas por seccion</h4>
            </mat-card-header>

            <mat-card-content>
                <app-alumno-chart></app-alumno-chart>
            </mat-card-content>

        </mat-card>
    </section>


    }
    @else {
    <section class="row section-title">
        <h1 class="col">R.D.A</h1>
        <button class="col-4" mat-raised-button>
            <mat-icon>description</mat-icon>
            Exportar
        </button>
    </section>

    <section class="row">
        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Horas trabajadas</h6>
                    <mat-icon>schedule</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>46 Hrs</h3>
                +2.5 la semana pasada
            </mat-card-content>

        </mat-card>

        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Monto Acumulado</h6>
                    <mat-icon>attach_money</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>147000 CLP</h3>
                +7500 la semana pasada
            </mat-card-content>

        </mat-card>

        <mat-card appearance="outlined" class="col-lg">

            <mat-card-header>
                <div class="header">
                    <h6>Proximo Pago</h6>
                    <mat-icon>calendar_month</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <h3>16 de Mayo</h3>
                en 12 dias
            </mat-card-content>

        </mat-card>
    </section>

    <section class="row">
        <h3>Historial</h3>
    </section>

    <section class="row">
        <button mat-flat-button> Mas informacion</button>
    </section>
    }
</main>