<app-header></app-header>

<main class="container-fluid">
    <section class="row">
        <mat-card appearance="outlined" class="col-5">
            <mat-card-header>
                <h4>{{nombre}}</h4>
                <h6 class="subtitle">Alumno Ayudante</h6>
            </mat-card-header>
            <mat-card-content>
                <mat-divider></mat-divider>
                <mat-list>

                    <mat-list-item>
                        <mat-icon matListItemIcon>assignment_ind</mat-icon>
                        <h3 matListItemTitle>{{run}}</h3>
                        <p matListItemLine>
                            <span>Run</span>
                        </p>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon matListItemIcon>location_on</mat-icon>
                        <h3 matListItemTitle>Sede Melipilla</h3>
                        <p matListItemLine>
                            <span>Ubicacion</span>
                        </p>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-icon matListItemIcon>mail</mat-icon>
                        <h3 matListItemTitle>{{email}}</h3>
                        <p matListItemLine>
                            <span>Email</span>
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListItemIcon>call</mat-icon>
                        <h3 matListItemTitle>{{fono}}</h3>
                        <p matListItemLine>
                            <span>Telefono</span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined" class="col info-section">
            <mat-card-header>
                <div class="edit-info-title">
                    <h4>Informacion Personal</h4>
                    <h6 class="subtitle">Actualiza tus de contacto o genera una nueva contrasena</h6>
                </div>
            </mat-card-header>

            <mat-card-content class="container-fluid">
                <mat-divider></mat-divider>
                <form class="row">

                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Numero de telefono</mat-label>
                        <input matInput placeholder="Ej: 9 9999 9999">
                        <mat-icon matSuffix>call</mat-icon>
                        <mat-hint>tu numero de telefono debe seguir el siguiente formato: 9 9999 9999</mat-hint>
                    </mat-form-field>                    

                    <h6>Cambiar de contrasena</h6>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Nueva contrasena</mat-label>
                        <input matInput placeholder="Tu nueva contrasena">
                        <mat-icon matSuffix>key</mat-icon>
                        <mat-hint>Asegurate que tu contrasena sea lo suficientemente segura!</mat-hint>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Repetir contrasena</mat-label>
                        <input matInput placeholder="Repite la nueva contrasena">
                        <mat-icon matSuffix>key</mat-icon>
                        <mat-hint>Ambas contrasenas deben coincidir</mat-hint>
                    </mat-form-field>
                

                    <fieldset class="col-12">
                        <button mat-flat-button type="submit">Actualizar</button>
                    </fieldset>

                </form>
            </mat-card-content>
        </mat-card>
    </section>
</main>