main{
    padding: 2vh;
}

section{
    padding: 2vh;
    display: flex;
    justify-content: center;
    gap: 4vh;
}

mat-card-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.edit-info-title{
    display: flex;
    flex-direction: column;
}

.info-section mat-card-header{
    align-items: start;
}

mat-card-content form{
    padding: 2vh;
    gap: 3vh;
}


form fieldset button{
    background-color: #36243E;
}

@media(max-width:369px){
    mat-hint {
        font-size: 11px;
    }
    mat-label{
        font-size: 14px;
    }
    mat-icon{
        font-size: 23px;
    }
}

@media(max-width:354px){
    #cambiar {
        margin-top: 1rem;
    }
    mat-hint {
        font-size: 9px;
    }
    mat-label{
        font-size: 12px;
    }
    mat-icon{
        font-size: 20px;
    }
}