div:first-child{
    padding-left: 3vh;
}


section {
    gap: 4vh;
    padding: 4vh;
    
}

mat-card{
    background-color: #fff;
}


mat-card-header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}



@media (max-width:768px) {

    main{
        padding: 2vh;
    }

    section {
        gap: 2vh;
    }

    section > button{
        width: 20vh;
    }
}

