<div class="title">
    <h3>Resumen del mes de {{mesActual}}</h3>
</div>
<!--aqui termina la seccion de exportar-->

<section class="row summary">

    <div class="card col-5 col-lg">
        <div class="header">
            <h6>Horas trabajadas <img src="assets/iconos/horas.svg" alt=""></h6>
        </div>

        <div class="content">
            @if (cargando) {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }@else {
            <h4>{{horasTrabajadas}} Hrs</h4>
            }
        </div>

        <div class="footer">
            del mes de {{mesActual}}
        </div>
    </div>

    <div class="card col-5 col-lg">
        <div class="header">
            <h6>Monto Acumulado <img src="assets/iconos/monto_acumulado.svg" alt=""></h6>
        </div>
        <div class="content">
            @if (cargando) {
            }@else {
            <h4> {{montoAcumulado}}</h4>
            }
        </div>
        <div class="footer">
            tarifa: 2450 CLP
        </div>
    </div>

    <div class="card col-5 col-lg">
        <div class="header">
            <h6>Proximo Pago <img src="assets/iconos/fecha.svg" alt=""></h6>
        </div>
        <div class="content">
            @if (cargando) {
            }@else {
            <h4>{{fechaPago}}</h4>
            }
        </div>
        <div class="footer">
            en {{diasRestantes}} dias
        </div>
    </div>

    <div class="card col-5 col-lg">
        <div class="header">
            <h6>Orden de compra <img src="assets/iconos/oc.svg" alt=""></h6>
        </div>
        <div class="content">
            @if (cargando) {
            }@else {
            <h4>No Disponible</h4>
            }
        </div>
        <div class="footer">
            Correspondiente del mes de {{mesActual}}
        </div>
    </div>
</section>