section {
    gap: 10vh;
}

section button {
    background-color: #36243E;
}

mat-card-header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

@media (max-width:768px) {

    main{
        padding: 2vh;
    }

    section {
        gap: 2vh;
    }

    section > button{
        width: 20vh;
    }
}