<section class="row">
    <div class="col">
        <h3 >Panel de Administración</h3>
        Gestión de alumnos ayudantes - Duoc UC
    </div>
    <button class="col-2" mat-flat-button>
        Exportar
    </button>
</section>

<section class="row summary">

    <mat-card appearance="outlined" class="col-lg">
        <mat-card-header>
            <div class="header">
                <h6>Total de alumnos ayudantes</h6>
                <mat-icon>person</mat-icon>
            </div>
        </mat-card-header>
        <mat-card-content>
            <h3>0 Alumnos</h3>            
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="col-lg">
        <mat-card-header>
            <div class="header">
                <h6>Horas este mes </h6>
                <mat-icon>schedule</mat-icon>
            </div>
        </mat-card-header>
        <mat-card-content>
            <h3>0 hrs</h3>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="col-lg">

        <mat-card-header>
            <div class="header">
                <h6>Promedio horas</h6>
                <mat-icon>trending_up</mat-icon>
            </div>
        </mat-card-header>

        <mat-card-content>
            <h3>30 hrs</h3>          
        </mat-card-content>

    </mat-card>
</section>