<mat-card appearance="outlined" class="hour-registry">
    <mat-card-header>
        <h4>Registro de horas</h4>
        <h6 class="subtitle">Ingresa las horas trabajadas</h6>
    </mat-card-header>

    <form [formGroup]="actividadForm" (ngSubmit)="registrarHora()">
        <mat-form-field>
            <mat-label>Fecha de actividad</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Hora de inicio</mat-label>
            <input matInput type="time" formControlName="horaInic">
            <mat-timepicker #picker />
            <mat-hint>00:00 AM/PM</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Hora de termino</mat-label>
            <input matInput type="time" formControlName="horaTerm">
            <mat-hint>00:00 AM/PM</mat-hint>
            <mat-timepicker #picker />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Area de trabajo</mat-label>
            <select matNativeControl formControlName="area">
                <option value="difusion">Difusion</option>
                <option value="extension">Extension</option>
                <option value="comunicacion">Comunicacion</option>
                <option value="desarrollo_laboral">Desarrollo laboral</option>
            </select>
        </mat-form-field>

        <fieldset>
            <button type="submit" mat-flat-button>Registrar Hora</button>
        </fieldset>
    </form>

</mat-card>