<main class="container-fluid">

    <section class="row">
        <mat-card appearance="outlined" class="hour-registry col-lg">
            <mat-card-header>
                <h4>Registrar Actividad</h4>
                <h6 class="subtitle">Registra tu actividad segun con los siguientes datos</h6>
            </mat-card-header>

            <form [formGroup]="actividadForm" (ngSubmit)="registrarHora()">
                <mat-form-field>
                    <mat-label>Fecha de actividad</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="dd-mm-yyyy" formControlName="fecha">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de inicio</mat-label>
                    <mat-select matNativeControl formControlName="horaInic">
                        @for (item of horasAM; track $index) {
                        <mat-option value="{{item}}">{{item}} AM</mat-option>
                        }
                        @for (item of horasPM; track $index) {
                        <mat-option value="{{item}}">{{item}} PM</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Hora de termino</mat-label>
                    <mat-select matNativeControl formControlName="horaTerm">
                        @for (item of horasAM; track $index) {
                        <mat-option value="{{item}}">{{item}} AM</mat-option>
                        }
                        @for (item of horasPM; track $index) {
                        <mat-option value="{{item}}">{{item}} PM</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Area de trabajo</mat-label>
                    <mat-select matNativeControl formControlName="area">
                        @for (item of areasTrabajo; track $index) {
                        <mat-option value="{{item.id}}">{{item.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <fieldset>
                    <button type="submit">Registrar Actividad</button>
                </fieldset>
            </form>
        </mat-card>

        <mat-card appearance="outlined" class="col-lg">
            <mat-card-header>
                <h4>Horas registradas este mes</h4>
                <h6 class="subtitle">Segun por area de trabajo y que esten aprobadas</h6>
            </mat-card-header>

            <mat-card-content>
                <div echarts [options]="chartOptions" class="chart-container"></div>
            </mat-card-content>
        </mat-card>

    </section>

</main>