<section class="row">
    <mat-card class="col" appearance="outlined">
        <mat-card-content>
            <h3>Alumnos adyudantes</h3>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Buscar por nombre o rut">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="scroll-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Alumno</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Horas totales</th>
                            <th scope="col">Este mes</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button mat-flat-button>Ver detalle</button></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</section>