section{
    gap: 10vh;
}

section button{
    background-color: #36243E;
}

mat-card-header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}