.sidebar {
  min-height: 100vh;
  border-right: 1px solid #ddd;
}

h4{
  text-align: center;
}

.nav-link {
  font-weight: 500;
  color: #333;

  &:hover {
    background-color: #f8f9fa;
    color: #007bff;
  }

  &.active {
    color: #007bff;
    font-weight: 600;
  }
}

.nav-link img{
    width: 2vh;
}