<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
        <div class="container-fluid">
            <img src="assets/logo-fondoazul-removebg-preview.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/alumno/perfil"> Mi perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/alumno/registro_horas" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}"> Registrar hora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/alumno/horas_mes" routerLinkActive="active"> Mis horas de este
                            mes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/alumno/historial" routerLinkActive="active">
                            Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()" role="button">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                            aria-controls="offcanvasExample" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            Notificaciones @if (notificaciones.length !=0)
                            {<span class="badge text-bg-danger">{{notificaciones.length}}</span>} </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row g-0 flex-column flex-md-row">

        <aside class="col-12 col-md-3 col-lg-2 bg-light sidebar py-3 mb-2 mb-md-0">
            <h4>Alumno Ayudante</h4>
            <nav
                class="nav flex-row flex-md-column justify-content-center justify-content-md-start text-center text-md-start">

                <a class="nav-link" routerLink="/alumno/perfil"> <img src="assets/iconos/perfil.svg"> Mi perfil</a>

                <a class="nav-link" routerLink="/alumno/registro_horas" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"> <img src="assets/iconos/formulario.svg"> Registrar
                    hora</a>

                <a class="nav-link" routerLink="/alumno/horas_mes" routerLinkActive="active"> <img
                        src="assets/iconos/informe.svg"> Mis horas de este mes</a>

                <a class="nav-link active" routerLink="/alumno/historial" routerLinkActive="active"> <img
                        src="assets/iconos/historial.svg" alt=""> Historial</a>

                <a class="nav-link" (click)="logout()" role="button"> <img src="assets/iconos/logOut.svg"> Cerrar
                    sesión</a>

                <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <img src="assets/iconos/notificacion.svg" alt="">
                    Notificaciones @if (notificaciones.length !=0)
                    {<span class="badge text-bg-danger">{{notificaciones.length}}</span>} </a>
            </nav>
        </aside>

        <main class="col-12 col-md-9 col-lg-10 px-1 py-1">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notificaciones Recientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @for (item of notificaciones; track $index) {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{item}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        }
    </div>
</div>