#botonEditar {
    background-color: RGB(54, 36, 62);
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#opciones {
    margin: none;
}

/*Esto sive para que cambie el color dependiendo dele estado.*/
.badge-success {
    background: #d4edda;
    color: #155724;
    border-radius: 12px;
    padding: 2px 12px;
    font-weight: 500;
    display: inline-block;
}

.badge-warning {
    background: #fff3cd;
    color: #856404;
    border-radius: 12px;
    padding: 2px 12px;
    font-weight: 500;
    display: inline-block;
}

.badge-danger {
    background: #f8d7da;
    color: #721c24;
    border-radius: 12px;
    padding: 2px 12px;
    font-weight: 500;
    display: inline-block;
}

.boton-acciones {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    mat-icon {
        font-size: 18px;
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
}

#botonExportar{
    background-color: #36243E;
    color: white;
    font-size: 13px;
    width: 110px;
    height: 36px;
    border-radius: 25px;
}