<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Columna Checkbox -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.size > 0 && isAllSelected()"
          [indeterminate]="selection.size > 0 && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="toggleSelection(row.id)" [checked]="isSelected(row.id)"></mat-checkbox>
      </td>
    </ng-container>
    <!-- Columna Código -->
    <ng-container matColumnDef="rut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rut</th>
      <td mat-cell *matCellDef="let row">{{ row.rut }}</td>
    </ng-container>

    <!-- Columna Alumno -->
    <ng-container matColumnDef="alumno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
      <td mat-cell *matCellDef="let row">{{ row.alumno }}</td>
    </ng-container>

    <!-- Columna Asignatura -->
    <ng-container matColumnDef="fono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fono</th>
      <td mat-cell *matCellDef="let row">{{ row.fono }}</td>
    </ng-container>

    <!-- Columna Tipo -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
      <td mat-cell *matCellDef="let row">{{ row.correo }}</td>
    </ng-container>

    <!-- Columna Horas -->
    <ng-container matColumnDef="horas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Horas Trabajadas</th>
      <td mat-cell *matCellDef="let row" class="text-right">
        {{ row.horas }}
      </td>
    </ng-container>

    <!-- Columna Acciones 
    Lo implemente con un menu desplegable, mas adelante vere como cambiar el estilo-->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef><button id="botonExportar" mat-flat-button>Exportar Excel</button></th>
      <td mat-cell *matCellDef="let row" id="acciones">
        <button mat-icon-button class="boton-acciones" [matMenuTriggerFor]="menuAcciones">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuAcciones="matMenu">
          <button mat-menu-item (click)="copiarId(row.codigo)">
            <mat-icon>content_copy</mat-icon>
            <span>Copiar ID</span>
          </button>
          <button mat-menu-item>
            <mat-icon>visibility</mat-icon>
            <span>Ver detalles</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!--Paginator sirve para elegir el numero de elementos que se muestran en pantalla-->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
</div>