@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* variables css */
:root {
    --general-text-color: #000;
    --general-background: #fff;
    --nav-background:#F8F9FA;
    --primary-color:#36243E;
    --difusion-background:#8FA8ED;    
    --extension-background:#9FE080;    
    --comunicacion-background:#FFDC60;    
    --desarrllo-laboral-background:#FF7070;    
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

main{
    padding: 40px;
}

section{
    padding: 2vh;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Merriweather", serif;
    font-weight: 700;
    margin: 1em 0 0.5em;
    color: #1a1a1a;
}

.subtitle{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #5C4F65;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
}


input{
    outline: #36243E !important;
}

button,input,textarea,select{
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;    
}