/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* variables css */
:root {
    --general-text-color: #000;
    --general-background: #fff;
    --nav-background:#F8F9FA;
}