h2 {
  text-align: center;
}

section {
  margin-top: 2vh;
  gap: 2vh;
}

.card {
  padding: 1vh;
}

h3 {
  text-align: center;
}

table tbody tr td button {
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 0.375em;
  color: #fff;
  background-color: blue;
  outline: none;
  border: none;
  transition: 0.5s ease background-color;
}

td,
th {
  text-align: center;
}

table tbody tr td button:hover {
  background-color: #012C56;
}

@media (max-width: 410px) {
  main h2 {
    font-size: 1.2rem;
  }

  main h3 {
    font-size: 1rem;
  }

  main table {
    font-size: 0.75rem;
  }

  main table tbody td,
  main table thead th {
    padding: 0.3rem;
  }

  main table tbody td button {
    font-size: 0.65em;
    padding: 0.3em 0.5em;
  }
}

@media (max-width: 304px) {
  main h2 {
    font-size: 1rem;
  }

  main h3 {
    font-size: 0.8rem;
  }

  main table {
    font-size: 0.65rem;
  }

  main table tbody td,
  main table thead th {
    padding: 0.2rem;
  }

  main table tbody td button {
    font-size: 0.55em;
    padding: 0.2em 0.4em;
  }
}


/* desktop */
@media (min-width:1024px) {}

/* tablets */
@media (min-width:768px) and (max-width:1023px) {}

/* movil */
@media (max-width:767px) {

  .table td,
  .table th {
    white-space: nowrap;
    /* No permitir saltos de línea */
    text-overflow: ellipsis;
    /* Agrega "..." si el texto es muy largo */
    overflow: hidden;
    /* Oculta el contenido que desborda */
    max-width: 200px;
    /* Ajusta según el ancho disponible */
  }
}