<main class="container-fluid">
    <h2>Solicitudes de este mes:</h2>
    <section class="row">
        <article class="col-lg card">
            <h3>Solicitudes Aprobadas</h3>
            <div class="scroll-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Solicitud</th>
                            <th scope="col">Fecha Actividad</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of solicitudes; track $index) {
                        @if (item.estado == true) {
                        <tr>
                            <td scope="row"> {{item.id}} </td>
                            <td> {{item.actividad.fecha_actividad}} </td>
                            <td>{{item.alumno.run}}</td>
                            <td><span class="badge text-bg-success">Aprobada</span></td>

                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </article>

        <article class="col-lg card">
            <h3>Solicitudes No aprobadas</h3>
            <div class="scroll-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Solicitud</th>
                            <th scope="col">Fecha Actividad</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of solicitudes; track $index) {
                        @if (item.estado == false) {
                        <tr>
                            <td scope="row"> {{item.id}} </td>
                            <td> {{item.actividad.fecha_actividad}} </td>
                            <td>{{item.alumno.run}}</td>
                            <td> <button (click)="confirmarActualizacion(item.id)">Aprobar</button> </td>

                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <section class="row">
        <h3>Todas las Solicitudes</h3>
        <article class="col-lg card">
            <div class="scroll-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">N° Solicitud</th>
                            <th scope="col">Fecha Actividad</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of solicitudes; track $index) {
                        @if (item.estado == false) {
                        <tr>
                            <td scope="row"> {{item.id}} </td>
                            <td> {{item.actividad.fecha_actividad}} </td>
                            <td>{{item.alumno.run}}</td>
                            <td> <span class="badge rounded-pill text-bg-warning">En observación</span> </td>
                        </tr>
                        }
                        @if (item.estado == true) {
                        <tr>
                            <td scope="row"> {{item.id}} </td>
                            <td> {{item.actividad.fecha_actividad}} </td>
                            <td>{{item.alumno.run}}</td>
                            <td> <span class="badge rounded-pill text-bg-success">Aprobado</span> </td>
                        </tr>
                        }


                        }

                    </tbody>
                </table>
            </div>
        </article>

    </section>
</main>