<app-header></app-header>
<div class="container-fluid">
    <div class="row g-0 flex-column flex-md-row">

        <aside class="col-12 col-md-3 col-lg-2 bg-light sidebar py-3 mb-2 mb-md-0">
            <h4>Panel de Administración</h4>
            <nav
                class="nav flex-row flex-md-column justify-content-center justify-content-md-start text-center text-md-start">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <img src="assets/iconos/notificacion.svg"> Notificaciones @if (notificaciones.length !=0) {<span
                        class="badge text-bg-danger">{{notificaciones.length}}</span>}  </a>

                <a class="nav-link" routerLink="/admin/solicitudes" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"> <img src="assets/iconos/notificacion.svg"> Solicitudes</a>
                <a class="nav-link active" routerLink="/admin/alumnos" routerLinkActive="active"> <img
                        src="assets/iconos/usuarios.svg" alt=""> Alumnos Ayudantes</a>
                <!--<a class="nav-link" routerLink="/admin/ordenes_compra" routerLinkActive="active"> <img
                        src="assets/iconos/orden_compra.svg"> Ordenes de compra</a>-->
                <a class="nav-link" id="exportar" (click)="downloadExcel()"> <img src="assets/iconos/orden_compra.svg"> Exportar</a>
            </nav>
        </aside>

        <main class="col-12 col-md-9 col-lg-10 px-1 py-1">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notificaciones Recientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @for (item of notificaciones; track $index) {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{item}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        }
    </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded me-2" alt="...">
    <strong class="me-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>