.mb-3{
    margin-left: 10%;
    margin-right: 10%;
    
}
.form-label{
    margin-top: 1%;
}
#botonSiguiente{
    margin-top: 2%;
    border-radius: 15px;
    background-color: #64548E;
    color: #ffffff;
}


#backround{
    border-radius: 25px;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
}