<body>
    <div id="backround">
        <div class="mb-3">
            <!--Nombres-->
            <label for="exampleFormControlInput1" class="form-label">Nombres</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
            <!--Apellido-->
            <label for="exampleFormControlInput1" class="form-label">Apellido</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            <!--Fecha de nacimiento-->
            <label for="exampleFormControlInput1" class="form-label">Fecha de nacimiento</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            <!--Boton para la siguiente pagina-->
            <button id="botonSiguiente">Siguiente</button>
        </div>
    </div>
</body>