section{
    margin-bottom: 2vh;
}

main section:nth-child(2) {
    align-items: center;
}

.mat-mdc-form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* cuadros de areas que muestran la cantidad de horas */
main{
    padding: 2vh;
}

section.row{
    gap: 2vh;
}


article div.container-fluid .row{
    gap: 2vh;
}


article div.container-fluid .row .col{
    padding: 2vh;
    margin-top: 2vh;    
    border-radius: 2vh;
}

#difusion{
    background-color: #DBEAFE;
}

#difusion h4,#difusion h6{
    color: #1D4ED8;
}


#extension{
    background-color: #DBEAFE;
}

#extension h4,#extension h6{
    color: #047857;
}

#comunicacion{
    background-color: #FEF9C3;
}

#comunicacion h4,#comunicacion h6{
    color: #A16207;
}

#desarrollo-laboral{
    background-color: #FEE2E2;
}

#desarrollo-laboral h4,#desarrollo-laboral h6{
    color: #B91C1C;
}

